{{ define "footer"}}

<!-- Footer -->
<footer class="page-footer font-small stylish-color-dark pt-4">

    <!-- Footer Links -->
    <div class="container text-center text-md-left">

      <!-- Grid row -->
      <div class="row">

        <!-- Grid column -->
        <div class="col-md-4 mx-auto">

          <!-- Content -->
          <h5 class="font-weight-bold text-uppercase mt-3 mb-4">Labyrinth</h5>
          <p>Labyrinth is an onnline cryptic hunt based on baffling cryptic trivia.</p>

        </div>
        <!-- Grid column -->

        <div class="col-md-4 mx-auto">

            <!-- Content -->
            <h5 class="font-weight-bold text-uppercase mt-3 mb-4">Sponsored By</h5>
            <img src="/static/images/logo.svg" class="img-responsive center-block" style="max-height: 30px">
  
          </div>
      </div>
      <!-- Grid row -->

    </div>
    <!-- Footer Links -->


</footer>
<!-- Footer -->

{{ end }}