{{ define "footer"}}

<!-- Footer -->
<footer class="page-footer font-small teal pt-4">

    <!-- Footer Text -->
    <div class="container-fluid text-center text-md-left">

        <!-- Grid row -->
        <div class="row">
            <hr class="clearfix w-100 d-md-none pb-3">

            <!-- Grid column -->
            <div class="">

                <!-- Content -->
                <h5 class="text-uppercase font-weight-bold">Labyrinth</h5>
                <p style="font-size:1.5em">Labyrinth is an online cryptic hunt based on baffling cryptic trivia. Bask
                    in to the thrill of the
                    chase for the answers, to experience the Eureka moments along as you solve some of the greatest
                    conundrums one can ever find.</p>

            </div>
            <!-- Grid column -->


            <!-- Grid column -->

            <!-- Grid column -->

        </div>
        <!-- Grid row -->

    </div>
    <!-- Footer Text -->


</footer>
<!-- Footer -->

{{ end }}