{{ define "content" }}

<h1>Rules</h1>
<ul style="font-size:1.3em">
    <li>One person can play on only one account. If found playing with multiple accounts, the person will be
        disqualified automatically</li>
    <li>Brute Forcing the solution using software is not an option. Your IP will be blocked if found doing so.</li>
    <li>Caps and spaces are not allowed. Eg: If your answer is "Hello World", enter "helloworld" to proceed to the next
        level. The answers also do not have special characters such as !," etc. but exceptions are (0,1,...9)</li>
</ul>

{{ end }}